In [3]:
from IPython.display import display, HTML
from keras.src.ops import dtype

display(HTML("<style>.container { width:100% !important; }</style>"))

# Lab | Natural Language Processing
### SMS: SPAM or HAM

### Let's prepare the environment

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer

- Read Data for the Fraudulent Email Kaggle Challenge
- Reduce the training set to speead up development.

In [5]:
## Read Data for the Fraudulent Email Kaggle Challenge
data = pd.read_csv("../data/kg_train.csv",encoding='latin-1')

# Reduce the training set to speed up development. 
# Modify for final system
data = data.head(1000)
print(data.shape)
data.fillna("",inplace=True)

(1000, 2)

In [6]:
data.head()

                                                text  label
0  DEAR SIR, STRICTLY A PRIVATE BUSINESS PROPOSAL...      1
1                                           Will do.      0
2  Nora--Cheryl has emailed dozens of memos about...      0
3  Dear Sir=2FMadam=2C I know that this proposal ...      1
4                                                fyi      0

### Let's divide the training and test set into two partitions

In [7]:
from sklearn.model_selection import train_test_split

X = data[['text']]
y = data[['label']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
print(X_train.shape)
print(X_train.head())
print(X_test.shape)
print(X_test.head())
print(y_train.shape)
print(y_test.shape)

(800, 1)
                                                  text
29   ----------- REGARDS, MR NELSON SMITH.KINDLY RE...
535  I have not been able to reach oscar this am. W...
695  ; Huma Abedin B6I'm checking with Pat on the 5...
557  I can have it announced here on Monday - can't...
836      BANK OF AFRICAAGENCE SAN PEDRO14 BP 1210 S...
(200, 1)
                                                  text
521  Dear Sir=2C I wish you go through this offer t...
737  To take your mind off the Balkans for a second...
740                       Pls keep the updates coming!
660  </STRONG><STRONG>CHRIST BETHEL HOSPITAL<BR>11 ...
411  sbwhoeopFriday February 5 2010 7:11 AMHRe: Bra...
(800, 1)
(200, 1)

## Data Preprocessing

In [9]:
import string
from nltk.corpus import stopwords
print(string.punctuation)
print(stopwords.words("english")[100:110])
from nltk.stem.snowball import SnowballStemmer
snowball = SnowballStemmer('english')

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
['needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on']

## Now, we have to clean the html code removing words

- First we remove inline JavaScript/CSS
- Then we remove html comments. This has to be done before removing regular tags since comments can contain '>' characters
- Next we can remove the remaining tags

In [10]:
import re
import html

def remove_html_javascript(text):
    # Remove <script> or <style> blocks
    text = re.sub(r'<(script|style).*?>.*?</\1>', '', text, flags=re.DOTALL)

    #Unescape HTML entities (convert &nbsp; → space, &amp; → &, etc.)
    text = html.unescape(text)

    # Remove HTML comments
    text = re.sub(r'<!--.*?-->', '', text, flags=re.DOTALL)

    # Remove remaining HTML tags
    text = re.sub(r'<[^>]+>', '', text)

    return text

X_train['text'] = X_train['text'].apply(remove_html_javascript)
X_test['text'] = X_test['text'].apply(remove_html_javascript)

In [11]:
X_train.head()

                                                  text
29   ----------- REGARDS, MR NELSON SMITH.KINDLY RE...
535  I have not been able to reach oscar this am. W...
695  ; Huma Abedin B6I'm checking with Pat on the 5...
557  I can have it announced here on Monday - can't...
836      BANK OF AFRICAAGENCE SAN PEDRO14 BP 1210 S...

- Remove all the special characters
    
- Remove numbers
    
- Remove all single characters
 
- Remove single characters from the start

- Substitute multiple spaces with single space

- Remove prefixed 'b'

- Convert to Lowercase

In [12]:
import re

def clean_text(text):
    # Replace any character that is **not** a letter (a-z or A-Z) or space with a space.
    text = re.sub(r'[^a-zA-Z\s]', ' ', text)

    # Replace any sequence of digits (0-9) with a space.
    text = re.sub(r'\d+', ' ', text)

    # Remove Python-style byte/unicode prefixes (b"text", u'text')
    text = re.sub(r"^[bu][\"']?(.*?)[\"']?$", r'\1', text)

    # Replace single-letter words (isolated letters) with a space.
    text = re.sub(r'\b[a-zA-Z]\b', ' ', text)

    # Remove a single letter at the **start** of the string followed by space(s).
    text = re.sub(r'^[a-zA-Z]\s+', '', text)

    # Collapse multiple whitespace characters into a single space.
    text = re.sub(r'\s+', ' ', text)

    # Remove prefix “b ” or “u ” if present (from byte or unicode string representations).
    text = re.sub(r'^[bu]\s+', '', text)
    # Remove prefix “b'...’” or “u'...’” and keep the content inside the quotes.
    text = re.sub(r"^[bu]'(.*)'$", r'\1', text)
    # Remove prefix “b\"...\"” or “u\"...\"” and keep the content inside the quotes.
    text = re.sub(r'^[bu]"(.*)"$', r'\1', text)

    # Convert everything to lowercase and strip whitespace from ends.
    text = text.lower().strip()

    return text

X_train['text'] = X_train['text'].apply(clean_text)
X_test['text'] = X_test['text'].apply(clean_text)

In [13]:
print(X_train.head)

<bound method NDFrame.head of                                                   text
29   regards mr nelson smith kindly reply me on my ...
535  have not been able to reach oscar this am we a...
695  huma abedin checking with pat on the will work...
557     can have it announced here on monday can today
836  bank of africaagence san pedro bp san pedro co...
..                                                 ...
106  adama ibrahim tout savoir sur la curit de votr...
270              what does that mean for our schedules
860  dear friend my compliment to you guess this le...
435  dear president fdirector my name is mr micheal...
102  let me know if today or tomorrow works for you...

[800 rows x 1 columns]>

## Now let's work on removing stopwords
Remove the stopwords.

In [14]:
stop_words = stopwords.words("english")

def clean_stopwords(text):
    words = [w for w in text.split() if w not in stop_words]
    return ' '.join(words)

X_train['text'] = X_train['text'].apply(clean_stopwords)
X_test['text'] = X_test['text'].apply(clean_stopwords)

In [15]:
print(X_train.head)
print(X_test.head)

<bound method NDFrame.head of                                                   text
29   regards mr nelson smith kindly reply private e...
535         able reach oscar supposed send pdb receive
695  huma abedin checking pat work jack jake rest a...
557                             announced monday today
836  bank africaagence san pedro bp san pedro cote ...
..                                                 ...
106  adama ibrahim tout savoir sur la curit de votr...
270                                     mean schedules
860  dear friend compliment guess letter may come s...
435  dear president fdirector name mr micheal ipenz...
102  let know today tomorrow works would rather fin...

[800 rows x 1 columns]>
<bound method NDFrame.head of                                                   text
521  dear sir wish go offer consider partner ei mr ...
737  take mind balkans second see great plug global...
740                            pls keep updates coming
660  christ bethel hospital rue abobote abidjanivor...
411  sbwhoeopfriday february amhre bravo brava issu...
..                                                 ...
408                   sorry yes exactlywe shy tomorrow
332  dear cgood day ei know message come suprise co...
208                                                fyi
613  greetings dear friend please permit contact me...
78                     car way airport talk call berry

[200 rows x 1 columns]>

## Tame Your Text with Lemmatization
Break sentences into words, then use lemmatization to reduce them to their base form (e.g., "running" becomes "run"). See how this creates cleaner data for analysis!

In [16]:
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

def lemmatize_text(text):
    wordnet = WordNetLemmatizer()
    words = [wordnet.lemmatize(token) for token in word_tokenize(text)]
    return ' '.join(words)

X_train['text'] = X_train['text'].apply(lemmatize_text)
X_test['text'] = X_test['text'].apply(lemmatize_text)

In [17]:

print("X_train_lemmatized")
print(X_train.head())
print("X_test_lemmatized")
print(X_test.head())

X_train_lemmatized
                                                  text
29   regard mr nelson smith kindly reply private em...
535         able reach oscar supposed send pdb receive
695  huma abedin checking pat work jack jake rest a...
557                             announced monday today
836  bank africaagence san pedro bp san pedro cote ...
X_test_lemmatized
                                                  text
521  dear sir wish go offer consider partner ei mr ...
737  take mind balkan second see great plug global ...
740                             pls keep update coming
660  christ bethel hospital rue abobote abidjanivor...
411  sbwhoeopfriday february amhre bravo brava issu...

## Bag Of Words
Let's get the 10 top words in ham and spam messages (**EXPLORATORY DATA ANALYSIS**)

In [18]:
from collections import Counter
import pandas as pd

def get_top_n_words(text_series, n=10):
    all_text = ' '.join(text_series)
    words = all_text.split()
    word_counts = Counter(words)
    return word_counts.most_common(n)

# Convert X_train and y_train to DataFrame
df_train = pd.concat([X_train['text'], y_train['label']], axis=1)
df_test = pd.concat([X_test['text'], y_test['label']], axis=1)
df_all = pd.concat([df_train, df_test])

# Top 10 words in ham messages
top_10_ham = get_top_n_words(df_all[df_all['label'] == 0]['text'])
top_10_spam = get_top_n_words(df_all[df_all['label'] == 1]['text'])

top_10_ham = pd.DataFrame(top_10_ham, columns=['words', 'count'])
top_10_spam = pd.DataFrame(top_10_spam, columns=['words', 'count'])

print("Top 10 Ham Words:")
print(top_10_ham)
print("Top 10 Spam Words:")
print(top_10_spam)

Top 10 Ham Words:
       words  count
0      state    136
1         pm    127
2      would    107
3  president     99
4       time     95
5       call     94
6         mr     91
7      obama     84
8    percent     81
9  secretary     79
Top 10 Spam Words:
         words  count
0        money    981
1      account    895
2         bank    800
3         fund    781
4            u    734
5  transaction    549
6     business    514
7      country    508
8           mr    489
9      million    460

## Extra features

In [19]:
# We add to the original dataframe two additional indicators (money symbols and suspicious words).
money_simbol_list = "|".join(["euro","dollar","pound","€",r"\$"])
suspicious_words = "|".join(["free","cheap","sex","money","account","bank","fund","transfer","transaction","win","deposit","password"])

X_train['money_mark'] = X_train['text'].str.contains(money_simbol_list)*1
X_train['suspicious_words'] = X_train['text'].str.contains(suspicious_words)*1
X_train['text_len'] = X_train['text'].apply(lambda x: len(x))

X_test['money_mark'] = X_test['text'].str.contains(money_simbol_list)*1
X_test['suspicious_words'] = X_test['text'].str.contains(suspicious_words)*1
X_test['text_len'] = X_test['text'].apply(lambda x: len(x))

X_train.head()

,text,money_mark,suspicious_words,text_len
29,regard mr nelson smith kindly reply private em...,0,0,79
535,able reach oscar supposed send pdb receive,0,0,42
695,huma abedin checking pat work jack jake rest a...,0,0,76
557,announced monday today,0,0,22
836,bank africaagence san pedro bp san pedro cote ...,1,1,1050

## How would work the Bag of Words with Count Vectorizer concept?

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

#let's take only the most common 1000 words
bow_vect = CountVectorizer(max_features=1000)

# vectorize training data
X_train_bow = bow_vect.fit_transform(X_train['text']).toarray()

#vectorize test data (with transform only)
X_test_bow = bow_vect.transform(X_test['text']).toarray()

In [28]:
as_df = pd.DataFrame(X_train_bow,columns=bow_vect.get_feature_names_out())
as_df.head()

,ab,abacha,abandoned,abidjan,able,abroad,ac,accept,acceptance,access,...,xn,yahoo,year,yet,yf,york,yr,zf,zimbabwe,zz
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0

## TF-IDF

- Load the vectorizer

- Vectorize all dataset

- print the shape of the vetorized dataset

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

# 1. Load the vectorizer and fit on training data (to learn vocabulary and IDF)
tfidf_vectorizer = TfidfVectorizer()

# 2. Vectorize training data
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train['text']).toarray()

# 3. Vectorize validation data (use transform, NOT fit_transform)
X_test_tfidf = tfidf_vectorizer.transform(X_test['text']).toarray()

# 4. Print shapes
print("Train dataset TF-IDF shape:", X_train_tfidf.shape)
print("Validation dataset TF-IDF shape:", X_test_tfidf.shape)

Train dataset TF-IDF shape: (800, 28164)
Validation dataset TF-IDF shape: (200, 28164)

In [33]:
# 5. Convert to DataFrame for better visualization
X_train_tfidf_df = pd.DataFrame(X_train_tfidf, columns=tfidf_vectorizer.get_feature_names_out())
X_train_tfidf_df.head()

,aa,aaa,aabeiawaeaambiqaceqedeqh,aac,aacw,aae,aaecaxeebsexbhjbuqdhcrmimoeifekrobhbcsmzuvavynlrchyknoel,aaegmdbsch,aaeh,aaevvsghq,...,zzwh,zzwqgb,zzwqgdg,zzwqgyw,zzwx,zzxh,zzxmsihdoawxlig,zzz,zzzahbxntxe,zzzj
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## And the Train a Classifier?

In [35]:
# We will use logistic regression because it's simple, fast, and surprisingly effective for text.
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Defining classes
y_train = y_train['label']
y_test = y_test['label']

# Initialize the classifier
clf = LogisticRegression(max_iter=1000, random_state=42)

# Train the classifier on TF-IDF features
clf.fit(X_train_tfidf, y_train)

# Predict on validation set
y_pred = clf.predict(X_test_tfidf)

# Evaluate
print("Validation Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Validation Accuracy: 0.955

Classification Report:
               precision    recall  f1-score   support

           0       0.93      1.00      0.97       125
           1       1.00      0.88      0.94        75

    accuracy                           0.95       200
   macro avg       0.97      0.94      0.95       200
weighted avg       0.96      0.95      0.95       200

### Extra Task - Implement a SPAM/HAM classifier

https://www.kaggle.com/t/b384e34013d54d238490103bc3c360ce

The classifier can not be changed!!! It must be the MultinimialNB with default parameters!

Your task is to **find the most relevant features**.

For example, you can test the following options and check which of them performs better:
- Using "Bag of Words" only
- Using "TF-IDF" only
- Bag of Words + extra flags (money_mark, suspicious_words, text_len)
- TF-IDF + extra flags


You can work with teams of two persons (recommended).

In [23]:
# Your code